Name - ABU Rafe

SUBJECT - DATA SCIENCE

Institution - PW SKILLS

TEACHER - ( AJAY GUPTA)

ASSIGNMENT TYPE - PRACTICAL QUESTION

Assignment – Python Functions

1️⃣ Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [3]:
def sum_of_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

# Example
nums = [1, 2, 3, 4, 5, 6]
print("Sum of even numbers:", sum_of_even_numbers(nums))

Sum of even numbers: 12

2️⃣ Create a Python function that accepts a string and returns the reverse of that string.

In [4]:
def reverse_string(s):
    return s[::-1]

# Example
print(reverse_string("Python"))

nohtyP

3️⃣ Implement a Python function that takes a list of integers and returns a new list containing the squares of each number

In [5]:
def square_list(nums):
    return [x**2 for x in nums]

# Example
print(square_list([1, 2, 3, 4]))

[1, 4, 9, 16]

4️⃣ Write a Python function that checks if a given number is prime or not from 1 to 200.

In [6]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Print all prime numbers between 1 and 200
for num in range(1, 201):
    if is_prime(num):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

5️⃣ Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [7]:
class Fibonacci:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.n:
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return self.a
        else:
            raise StopIteration

# Example
for num in Fibonacci(10):
    print(num, end=" ")

1 1 2 3 5 8 13 21 34 55

6️⃣ Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [8]:
def power_of_two(n):
    for i in range(n + 1):
        yield 2 ** i

# Example
for val in power_of_two(5):
    print(val)

1
2
4
8
16
32

7️⃣ Implement a generator function that reads a file line by line and yields each line as a string.

In [10]:
# Create a dummy file for demonstration
with open("sample.txt", "w") as f:
    f.write("This is line 1.\n")
    f.write("This is line 2.\n")
    f.write("This is line 3.\n")

# Now, the original code should work
def read_file_line_by_line(file_path):
    with open(file_path, "r") as file:
        for line in file:
            yield line.strip()

# Example (use your file name)
for line in read_file_line_by_line("sample.txt"):
    print(line)

This is line 1.
This is line 2.
This is line 3.

8️⃣ Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [11]:
data = [(1, 3), (4, 2), (2, 1)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(2, 1), (4, 2), (1, 3)]

9️⃣ Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.

In [12]:
temps_celsius = [0, 20, 37, 100]
temps_fahrenheit = list(map(lambda c: (9/5)*c + 32, temps_celsius))
print(temps_fahrenheit)

[32.0, 68.0, 98.60000000000001, 212.0]

🔟 Create a Python program that uses filter() to remove all the vowels from a given string

In [13]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return "".join(filter(lambda ch: ch not in vowels, s))

print(remove_vowels("Beautiful Python"))

Btfl Pythn

1️⃣1️⃣ Imagine an accounting routine used in a book shop.

Question:
Each record in the list represents —
Order Number, Book Title and Author, Quantity, Price per Item.

Write a Python program that returns a list with 2-tuples.
Each tuple consists of the order number and the total cost of the order.
If the total cost is less than 100€, add a 10€ surcharge.

Data:

orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

In [17]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

invoice = list(map(
    lambda x: (x[0], x[2]*x[3] if x[2]*x[3] >= 100 else x[2]*x[3] + 10),
    orders
))

print(invoice)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]